<app-menu></app-menu>
<div class="container">
  <h3>All Teachers</h3>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{teacher.id}}</td>
          <td>{{teacher.name}}</td>
          <td>{{teacher.email}}</td>
          <td><button class="btn btn-success" (click)="updateTeacher(teacher.id)">Update</button></td>
          <td><button class="btn btn-warning" (click)="deleteTeacher(teacher.id)">Delete</button></td>
        </tr>

      </tbody>
    </table>
    <div class="row">
      <button class="btn btn-success" (click)="addTeacher()">Add</button>
    </div>
  </div>
</div>