<app-menu></app-menu>
<h3>Teacher</h3>
<div class="container">
  <form (ngSubmit)="!teacherForm.invalid && saveTeacher()" #teacherForm="ngForm">
    <div>
      <div class="alert alert-warning" *ngIf="teacherForm.dirty && teacherForm.invalid">Enter valid values</div>
      <div class="alert alert-warning" *ngIf="teacherForm.dirty && description.invalid">Enter atleast 1 characters in
        email</div>
    </div>
    <fieldset class="form-group">
      <label>Id</label>
      <input type="text" #description="ngModel" [(ngModel)]="teacher.id" class="form-control" name="id"
        required="required" minlength="1">
    </fieldset>
    <fieldset class="form-group">
      <label>Name</label>
      <input type="text" #description="ngModel" [(ngModel)]="teacher.name" class="form-control" name="name"
        required="required" minlength="1">
    </fieldset>
    <fieldset class="form-group">
        <label>Email</label>
        <input type="text" #description="ngModel" [(ngModel)]="teacher.email" class="form-control" name="email"
          required="required" minlength="1">
    </fieldset>
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>